@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
/* Weights: 500, 700, 900 */

:root {
    --paleblue: hsl(225, 100%, 94%);
    --brightblue: hsl(245, 75%, 52%);
    --verypaleblue: hsl(225, 100%, 98%);
    --desatblue: hsl(224, 23%, 55%);
    --darkblue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}